<div class="promotions">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 pt-0">
                <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide01.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">
                                                ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>
                    <div class="collapsed" id="collapseExample">
                    <div class="text">
                        <div class="promotionHeader">⚡️សេវាគមន៍សមាជិកថ្មីថែមរហូតដល់100$⚡️៖</div><br>
                        <p class="p">


                            👩‍🏭មាន4ជម្រើសសំរាប់សមាជិកដាក់ប្រាក់លើកដំបូង<br><br >

                            1. ប្រូម៉ូសិន <span class="span">10%</span><br>
                            👉🏻បងៗដាក់​ <span class="span">100$</span> ទទួលបាន  <span class="span">110$</span> <br><br>

                            2. ប្រូម៉ូសិន <span class="span">30%</span><br>
                            👉🏻បងៗដាក់ <span class="span">100$</span> ទទួលបាន  <span class="span">130$</span> <br><br>

                            3. ប្រូម៉ូសិន <span class="span">50%</span><br>
                            👉🏻បងៗដាក់ <span class="span">100$</span> ទទួលបាន  <span class="span">150$</span> <br><br>

                            4. ប្រូម៉ូសិន <span class="span">100%</span><br>
                            👉🏻បងៗដាក់ <span class="span">100$</span> ទទួលបាន  <span class="span">200$</span><br>
                            </p>
                            <p class="p">
                            ⚡️លក្ខខណ្ឌងាយៗរបស់ប្រូម៉ូសិននីមួយៗ⚡️<br><br>

                            👉🏻បញ្ជាក់:សូមអតិថិជនទាំងអស់មេត្តាអានលក្ខខណ្ឌប្រូម៉ូសិននីមួយៗអោយយល់ច្បាស់លាស់សិនមុននឹងជ្រើសរើសយកប្រូម៉ូសិនជៀសវាងមានបញ្ហារនៅពេលក្រោយ<br>

                            👉🏻ករណីបងលេងមិនគ្រប់ចំនួនជុំបងមិនអាចស្នើរដកប្រាក់បានទេ<br>

                            👉🏻សរាប់ប្រូម៉ូសិននីមួយៗ អោយខ្ពស់បំផុត 100$<br>
                            </p>
                    </div>
                    </div>
                    <!-- =========== PROMOTION END============ -->
                    <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide02.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">
                        ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>
                    <div class="collapsed" id="promotion2">
                    <div class="text">
                        <div class="promotionHeader">ខុសដាច់ 4គូរ ទទួលបានដេីមវិញ៖</div><br>
                        <span class="span">លក្ខខណ្ឌងាយៗ</span>
                            <p class="p">
                            ចាក់ខុស <span class="span">4គូរ</span> បានបានដើមវិញ <span class="span">100%</span> រហូតដល់ <span class="span">2000$</span><br>
                            សម្រាប់បងៗយកប្រម៉ូសិននេះតម្រូវអោយ<br>
                            - 4គូរចាក់បានតែវ៉ៃ និង រង<br>
                            - ទឹកលុយចាប់ពី <span class="span">1.85</span> ដល់ <span class="span">2.20</span><br>
                            - សម្រាប់បុងវិលគិតជូនតែមួយបុងប៉ុណ្ណោះ<br>
                            - គ្រាប់ <span class="span">Over/Under</span> គឺមិនគិតនោះទេ<br>
                            ខុសលក្ខខណ្ឌគឺមិនអាចទទួលបានប្រម៉ូសិនទេ ។<br>
                        </p>
                    </div>
                    </div>
                    <!-- =========== PROMOTION END============ -->
                    <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide03.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">                        ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>
                    <div class="collapsed" id="promotion3">
                    <div class="text">
                        <div class="promotionHeader">ឈ្នះដាច់គុណថែម 20% លើលុយឈ្នះ៖</div><br>
                        <span class="span">លក្ខខណ្ឌងាយៗ</span><br>

                    <p class="p">
                    ឈ្នះដាច់ <span class="span">3គូរ</span> ថែម <span class="span">5%</span><br>
                    ឈ្នះដាច់ <span class="span">4គូរ</span> ថែម <span class="span">10%</span><br>
                    ឈ្នះដាច់ <span class="span">5គូរ</span> ថែម <span class="span">20%</span><br>
                    -ចាក់បានតែវ៉ៃ និង រង<br>
                    -ទឹកលុយចាប់ពី <span class="span">1.85</span> ដល់ <span class="span">2.20</span><br>
                    -គ្រាប់ <span class="span">Over/Under</span> គឺមិនគិតនោះទេ<br>
                    -សម្រាប់បុងវិលគឺគិតជូនតែមួយបុងបុណ្ណោះ<br>
                    ខុសលក្ខខណ្ឌគឺមិនអាចទទួលបានប្រម៉ូសិនទេ ។<br>
                        </p>
                    </div>
                    </div>
                    <!-- =========== PROMOTION END============ -->
                    <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide04.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">                        ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>
                    <div class="collapsed" id="promotion4">
                    <div class="text">
                        <div class="promotionHeader">ដាក់ប្រាក់សៅរ៍ អាទិត្យ ថែម 2$ រហូតដល់ 10$ ៖</div><br>
                        <p class="p">
                        ថែមសម្រាប់ចុងសប្តាហ៍ឥតលក្ខខណ្ឌកំសាន្តដោយសេរី ។<br>
*បងៗអាចទទួលបានប្រម៉ូសិននេះតែម្តងប៉ុណ្ណោះក្នុងមួយថ្ងៃ ។
                        </p>
                    </div>
                    </div>
                    <!-- =========== PROMOTION END============ -->
                      <!-- =========== PROMOTION ============ -->
                      <img src="./assets/img/slide08.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">                        ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>
                    <div class="collapsed" id="promotion8">
                    <div class="text">
                        <div class="promotionHeader">លក្ខខណ្ឌងាយៗ</div><br>
                        <p class="p">

- ការថែមជូន <span class="span">20%</span> ណែនាំសមាជិកថ្មី  <br>
- ដេីម្បីទទួលបានប្រូម៉ូសិននេះ គឺតម្រូវអោយបងគឺជាភ្ញៀវអាខោនដែរលេងបានរយ:ពេលបីខែ ជាមួយក្រុមហ៊ុន  <span class="span">C2Ball</span> យេីងខ្ញុំ<br>
- សំរាប់ទឹកប្រាក់ថែមជូនគឺទទួលបាន  <span class="span">20%</span> នៃលុយដែរភ្ញៀវថ្មីបានដាក់<br>
*( កំណត់អោយមិនលេីសពី <span class="span">100$</span> )
- តម្រូវអោយបងៗចាក់គ្រប់ចំនួនបួនជុំទេីបស្នេីរដកប្រាក់បាន<span class="span">
Ex: ( 20$ * 4 =80$ ) </span>។
                        </p>
                    </div>
                    </div>
                    <!-- =========== PROMOTION END============ -->
                    <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide05.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball">                        ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        ចុះឈ្មោះអីឡូវនេះ
                    </a>
                    </p>

                    <!-- =========== PROMOTION END============ -->
                    <!-- =========== PROMOTION ============ -->
                    <img src="./assets/img/slide06.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"><br>
                    <p class="a">
                    <a class="btn btn-danger btn-sm" href="https://t.me/C2Ball"> ព៌ត៌មានលម្អិត
                    </a>
                    <a class="btn btn-info btn-sm" href="https://t.me/C2Ball">
                        <div>ចុះឈ្មោះអីឡូវនេះ</div>
                    </a>
                    </p>

                    <!-- =========== PROMOTION END============ -->
            </div>
            <div class="col-12 col-sm-3 text-end">
                <a href="https://t.me/C2Ball"><img src="./assets/img/telegramQrCode.png" class="img-fluid" width="78%" alt="កាស៊ីណូអនឡាញ"></a>
            </div>
        </div>
    </div>
</div>
