.promotions
{
   background-color: rgb(46, 44, 44);

}
.promotionHeader
{
   color: yellow;
   font-size: 20px;
   font-family: khmer os Battambang;
}
.span{
   color: yellow;
   font-size: 15px;
   font-family: khmer os Battambang;
}
.a{
   font-size: 15px;
   font-family: khmer os Battambang;
}
.p{
   font-size: 15px;
   font-family: khmer os Battambang;
   color: aliceblue;
}
.text{
   caret-color: rgba(0, 0, 0, 0.959);
}
.gameList
{
   background-color: rgb(29, 14, 14);
   width: auto;
   height: 115px;
   margin-top: 0px;
}
.footer
{
   background-color: rgb(46, 13, 13);
   color: aliceblue;
   font-size: 15px;
   font-family: khmer os Battambang;
   border-bottom: 1px solid yellow;
   border-top: 1px solid yellow;



}

.cop{
   text-align: center;
   margin: 10px;
   font-size: 20px;
}

.button-img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}


