<div class="promotions">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9">
                <div class="row">
                    <div class="col-6 col-sm-4 pb-3" style="padding-top: 30px;">
                        <img src="./assets/img/BlossomOfWealth.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3" style="padding-top: 30px;">
                        <img src="./assets/img/AnimalRacing.jpg" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
