.promotions
{
    background-color: black;
    color: aliceblue;
}
.gameList
{
   background-color: rgb(29, 14, 14);
   width: auto;
   height: 115px;
   margin-top: 0px;
}
.footer
{
   background-color: rgb(46, 13, 13);
   color: aliceblue;
   font-size: 15px;
   font-family: khmer os Battambang;
   border-bottom: 1px solid yellow;
   border-top: 1px solid yellow;


}
.copyRight
{
   background-color: rgb(41, 15, 15);
   height: 50px;
   text-align: center;
   color: rgba(255, 136, 0, 0.952);
}
.cop{
   text-align: center;
   margin: 10px;
   font-size: 20px;
}

.button-img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
