<div class="promotions">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9">
                <div class="row pt-4">
                     <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/1.png" class="img-fluid button-img"  alt="កាស៊ីណូអនឡាញ">
                    </div>
                       <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/2.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/3.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/4.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/5.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/6.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/7.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/8.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
