<!--TOP BAR START-->
<div class="color">
<div class="container bg-black" >
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-3">
              <a href="http://c2ball.com/"><img src="./assets/img/c2ball-logo.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
          </div>
          <div class="col-12 col-sm-3">
              <div class="headerContact" style="margin-left: 40px;">
              <a href="tel:089 947 222"><img src="./assets/img/ais.png" alt="កាស៊ីណូអនឡាញ" width="30" class="animateImg"> <span>089 947 222</span> </a><br>
              <a href="tel:086 947 222"><img src="./assets/img/dtac.png" alt="កាស៊ីណូអនឡាញ" width="30" class="animateImg"> <span>089 947 222</span></a><br>
              <a href="https://t.me/reachseyyyy"><img src="./assets/img/line-logo.png" alt="កាស៊ីណូអនឡាញ" width="30"> <span>Telegram ID: @c2ball</span></a><br>

              </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="promo-title">
              C2BALL ជាដៃគូរកម្សាន្តនាំលោកអ្នកទៅកាន់ភាពល្អឥតខ្ចោះ
            </div>

            <div class="runningText d-none d-sm-block">
              <div class="ticker-wrap">
                <div class="ticker">
                  <span><i class="fas fa-gift"></i> ⚡️សមាជិកថ្មីទទួលបានទឹកប្រាក់រហូត 100$</span>
                  <span><i class="fas fa-gift"></i> ⚡️ខុសដាច់ 4គូរទទួលបានដេីមវិញ</span>
                  <span><i class="fas fa-gift"></i> ⚡️ឈ្នះដាច់គុណថែម 20% លើលុយឈ្នះ</span>
                  <span><i class="fas fa-gift"></i> ⚡️ដាក់ប្រាក់សៅរ៍ អាទិត្យ ថែម 2$ រហូតដល់ 10$</span>
                  <span><i class="fas fa-gift"></i> ⚡️បង្វិលប្រាក់ 10% រៀងរាល់ខែ</span>
                  <span><i class="fas fa-gift"></i> ⚡️បាល់ក្រដាស់ថែម 5%</span>
                </div>
              </div>
            </div>
          </div>

      </div>
  </div>
</div>
</div>
<!--TOP BAR END-->

 <!-- MENU START -->
<nav class="container-fluid p-0 bg-danger main-menu">
  <ul class="nav nav-pills nav-fill menu-text">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fa-light fa-house-chimney me-1"></i> ទំព័រដើម
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">
        ការផ្តល់ជូន
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/livecasino" routerLinkActive="active">
        កាស៊ីណូផ្សាយផ្ទាល់
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sport" routerLinkActive="active">
        កីឡា
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/slotgame" routerLinkActive="active">
        ស្លុតហ្គេម
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/game" routerLinkActive="active">
        ឆ្នោត
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">
        ទំនាក់ទំនង
      </a>
    </li>
  </ul>
</nav>
<!-- MENU END -->


<!-- SLIDE START -->
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="./assets/img/slide01.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="./assets/img/slide03.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/slide04.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/slide05.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/slide06.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/slide08.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/slide09.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
  </div>
</div>
<!--SLIDE END-->
 <router-outlet></router-outlet>

 <!-- -------------------BUTTON BAR-------------- -->
<div class="container-fluid button-bar">
  <div class="container">
    <div class="row g-2 justify-content-center">

      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_pg_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_jili_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_sa_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_ae_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_ezugi_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_ug_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_venus_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_fachai.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_kingmaker_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
          <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_redtiger_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_4d_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_365_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_cockfight_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_jdb_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_HRB_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
      <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_playtech_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_spade_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/gl_sbo_hover.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/ibet789.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/pussy888.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/live22.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/mega888.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/joker.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>
       <div class="col-3 col-sm-2 col-md-1">
        <img src="./assets/img/betwos.png" class="img-fluid button-img" alt="កាស៊ីណូអនឡាញ">
      </div>

    </div>
  </div>
</div>



<div class="container-fluid pt-10 border-bottom border-warning border-top border-warning" style="background-color: rgb(48, 18, 18); color: aliceblue;">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-sm-3">
                <div><a href="http://sgroup1.learnwebsite.xyz/"><img src="./assets/img/c2ball-logo.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a></div>
                <div class="copyright" style="font-size: 13px; font-family: khmer os Battambang; text-align: center;">ជាដៃគូរកម្សាន្តនាំលោកអ្នកទៅកាន់ភាពល្អឥតខ្ចោះ</div>
                <div class="copyright" style="font-size: 13px; font-family: khmer os Battambang; text-align: center;">© រក្សាសិទ្ធិគ្រប់យ៉ាងដោយ <span class="englishFont">C2BALL</span> | 18+</div>
            </div>
            <div class="col-6 col-sm-3 pt-3">
                <div class="text-center pb-2">
                    <span class="englishFont">C2BALL</span>
                </div>
                <div class="text-center" style="font-family: khmer os Battambang; font-size: 13px;">
                    ទូរទាត់ទឹកប្រាក់ងាយៗតាម៖
                </div>
                <div><img src="./assets/img/payments.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"></div>
            </div>
            <div class="col-6 col-sm-2 pt-3 list-group-item" style="text-align: left; font-size: 14px; font-family: khmer os Battambang;">
                <div><a href="http://sgroup1.learnwebsite.xyz/"><img src="./assets/img/icon_about.png" class="img-fluid" width="25" alt="កាស៊ីណូអនឡាញ"> អំពីយើង </a></div>
                <div><a href="http://sgroup1.learnwebsite.xyz/"><img src="./assets/img/icon_privacy.png" class="img-fluid" width="25" alt="កាស៊ីណូអនឡាញ">  ល័ក្ខខ័ណ្ឌ</a></div>
                <div><a href="http://sgroup1.learnwebsite.xyz/"><img src="./assets/img/icon_gamerule.png" class="img-fluid" width="25" alt="កាស៊ីណូអនឡាញ"> ដាក់ប្រាក់និងដកប្រាក់ </a></div>
                <div><a href="http://sgroup1.learnwebsite.xyz/"><img src="./assets/img/icon_responsible.png" class="img-fluid" width="25" alt="កាស៊ីណូអនឡាញ"> ការផ្តល់ជូនពិសេស </a></div>
            </div>
            <div class="col-12 col-sm-4 pt-3">
                <div>
                    <p class="footerDescription" style="color: aliceblue; font-size: 14px; font-family: khmer os Battambang; text-align: left;">
                    C2BALL ផ្តល់ជូននូវបទពិសោធន៏លេងហ្គេមតាមអ៊ីនធើណេត និងហ្គេមកាស៊ីណូតាមអ៊ីនធើណេតល្អបំផុតនៅក្នុងប្រទេសកម្ពុជា។ កាស៊ីណូអនឡាញរបស់យើងគឺកាស៊ីណូដែលអាចទុកចិត្តបានដែលរួមបញ្ចូល    Live casino ។ កាស៊ីណូអនឡាញតាមទូរសព្ទ័ចល័ត ហ្គេមស្លុតអនឡាញ ការភ្នាល់កីឡានិងហ្គេមបៀរជាច្រើនទៀតដែលអតិថិជន C2BALL អាចរីករាយជាមួយហ្គេមពិសេសៗរបស់យើង។                    </p>
                    <p class="text-center">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid copyRight pb-1" style="background-color: rgb(48, 18, 18)">
    <div class="container" >
        <div class="row">
            <div class="col-12" style="text-align: center; color: aliceblue; height: 50px;">
                <div style="padding: 13px;">© copyright 2022 by C2BALL</div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------BUTTON END-------------- -->
