<div class="promotions pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9 pt-4">
        <div class="row g-3">
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c1.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c2.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c3.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c4.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c5.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c6.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c7.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c8.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
          <div class="col-6 col-sm-4">
            <img src="./assets/img/c9.jpg" class="img-fluid promo-img" alt="កាស៊ីណូអនឡាញ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
