<div class="promotions">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9">
                <div class="row pt-4">
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/11.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/12.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/13.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>
                    <div class="col-6 col-sm-4 pb-3">
                        <img src="./assets/img/14.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ">
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-3">
                <a href="https://t.me/C2Ball"><img src="http://c2ball.com/images/telegramQrCode.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
                <a href="https://t.me/C2Ball"><img src="http://c2ball.com/images/telephone.png" class="img-fluid" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
            </div>
        </div>
    </div>
</div>
