
<!--GOLO LINKBALL START-->
<div class="container-fluid btn btn-dark">
    <div class="row">
        <div class="col-12 pt-2">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><img src="assets/img/1.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/2.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/3.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/4.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/5.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/6.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/7.png" class="img-fluid button-img"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img src="assets/img/8.png" class="img-fluid button-img"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--LOGO LINKBALL END-->
<!--SOM PROMOTION START-->
<div class="container-fluid btn btn-dark">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-sm-6">
                <div style="color: aliceblue; font-size:15px; font-family: khmer os Battambang; text-align: left;">
                <h1>កាស៊ីណូអនឡាញកំពូលនៅកម្ពុជា ២០២២</h1>
                <p><br>
                កាន់តែមានការសម្របសម្រួល និងផ្ដល់ភាពងាយស្រួលក្នុងការបំពេញការកម្សាន្តដល់អតិថិជន គេហទំព័រកម្សាន្តកាស៊ីណូ Online របស់ C2BALL គឺផ្ដល់លក្ខណៈងាយស្រួលក្នុងការលេង ដោយលោកអ្នកពុំចាំបាច់មកផ្ទាល់នៅទីតាំងក៏អាចលេងកម្សាន្តបាននៅគ្រប់ទីកន្លែងបានដែរ។ លោកអ្នកអាចចូលលេងកម្សាន្តបានដោយគ្រាន់តែមាន Smart Phone Tablet ឬ ឧបករណ៍អេឡិចត្រូនិច ដែលភ្ជាប់ជាមួយនឹងសេវាអ៊ីធឺណិត និងគណនីកម្សាន្តគេហទំព័រកម្សាន្តកាស៊ីណូ Online របស់ C2BALL ។
                </p>
            <div class="row homePageContent">
                <div class="col-12">
                    <div class="sidebarLayout">
                        <div class="cardcdn border border-warning " style=" text-align: center; height: 60px; color: red; font-size: 15px; background-color: rgba(255, 255, 0, 0.563); font-family: khmer M1;">
                                    <div style="padding: 20px;">ប្រមូលសិនពិសេសៗ</div>
                        </div>
                            <div class="card-body border border-warning" style="color: aliceblue; background-color: black; font-size: 15px; font-family: khmer os Battambang; text-align: left;">
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> សមាជិកថ្មីទទួលបានទឹកប្រាក់រហូត <span class="span" style="color: yellow;">100$</span></div>
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> ខុសដាច់ 4គូរទទួលបានដេីមវិញ</div>
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> ឈ្នះដាច់គុណថែម <span class="span" style="color: yellow;">20%</span> លើលុយឈ្នះ</div>
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> ដាក់ប្រាក់សៅរ៍ អាទិត្យ ថែម <span class="span" style="color: yellow;">2$</span> រហូតដល់ <span class="span" style="color: yellow;">10$</span></div>
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> បង្វិលប្រាក់ <span class="span" style="color: yellow;">10%</span> រៀងរាល់ខែ</div>
                                <div style="padding: 7px;"><img src="./assets/img/tick.png"  class="img-fluid" alt=" កាស៊ីណូអនឡាញ"> បាល់ក្រដាស់ថែម <span class="span" style="color: yellow;">5%</span>  </div>
                    </div>
                </div>
        </div>
<!--SOM PROMOTION END-->
<!--PAY MONY START-->
<div class="row pt-2 pb-2">
    <div class="col-3">
        <a href="#"><img src="./assets/img/payment-aba.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
    </div>
    <div class="col-3">
        <a href="#"><img src="./assets/img/payment-acleda.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
    </div>
    <div class="col-3">
        <a href="#"><img src="./assets/img/payment-truemoney.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
    </div>
    <div class="col-3">
        <a href="#"><img src="./assets/img/payment-wingtransfer.png" class="img-fluid button-img" width="100%" alt="កាស៊ីណូអនឡាញ"></a>
    </div>
        </div>
            <video width="100%" controls autoplay muted playsinline>
                <source src="/assets/img/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        </div>
    </div>
</div>
<!--PAY MONY END-->
<!--GAME START-->

    <div class="container">
        <div class="row pt-3">
            <div class="col-6 col-sm-3" style="margin-bottom:10px;">
                <div class="gameType border border-warning">
                    <a href="#"><img src="./assets/img/post1.jpg" class="img-fluid" width="100%" alt="คาสิโนออนไลน์"></a>
                    <div class="gameName border border-warning" style="color: black; background-color: rgba(21, 255, 0, 0.719); font-size: 15px; font-family: khmer os Battambang; text-align: center; height: 50px;">
                       <div style="padding: 5px;"></div> កីឡាអនឡាញ
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3" style="margin-bottom:10px;">
                <div class="gameType border border-warning">
                    <a href="#"><img src="./assets/img/post1.jpg" class="img-fluid" width="100%" alt="คาสิโนออนไลน์"></a>
                    <div class="gameName border border-warning" style="color: black; background-color: rgba(21, 255, 0, 0.719); font-size: 15px; font-family: khmer os Battambang; text-align: center; height: 50px;">
                       <div style="padding: 5px;"></div> ស្លុតអនឡាញ
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3" style="margin-bottom:10px;">
                <div class="gameType border border-warning">
                    <a href="#"><img src="./assets/img/post1.jpg" class="img-fluid" width="100%" alt="คาสิโนออนไลน์"></a>
                    <div class="gameName border border-warning" style="color: black; background-color: rgba(21, 255, 0, 0.719); font-size: 15px; font-family: khmer os Battambang; text-align: center; height: 50px;">
                       <div style="padding: 5px;"></div> កាស៊ីណូផ្សាយផ្ទាល់
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3" style="margin-bottom:10px;">
                <div class="gameType border border-warning">
                    <a href="#"><img src="./assets/img/post1.jpg" class="img-fluid" width="100%" alt="คาสิโนออนไลน์"></a>
                    <div class="gameName border border-warning" style="color: black; background-color: rgba(21, 255, 0, 0.719); font-size: 15px; font-family: khmer os Battambang; text-align: center; height: 50px;">
                       <div style="padding: 5px;"></div> មាន់ជល់អនឡាញ
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3 pb-3 btn btn-dark" style="text-align: left;">
    <div class="container">
        <div class="row pb-5">
            <div id="allGame">
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">JILI</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/ChinShiHuang.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Chin Shi Huang</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/FortunePig.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Fortune Pig</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/HotChilli.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Hot Chilli</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/JungleKing.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Jungle King</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/SuperAce.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Super Ace</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Fengshen.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Fengshen</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/ChargeBuffalo.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Charge Buffalo</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/CrazyFaFaFa.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Crazy FaFaFa</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/GoldenBank.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Golden Bank</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/FortuneGems.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Fortune Gems</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/BoxingKing.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Boxing King</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/RomaX.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Roma X</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center" style="font-size: 15px; font-family: khmer os Battambang;">
        <a href="##" class="moreGame btn btn-warning" onclick="jiliGame()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">Red Tiger</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Epic_Journey.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Epic Journey</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Golden_Cryptex.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Golden Cryptex</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Dragons_Luck_MegaWays.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Dragon's Lucky MegaWays</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Gems_Gone_Wild.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Gems Gone Wild</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Red_Phoenix_Rising.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Red Phoenix Rising</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Dragons_Luck_Power_Reels.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Dragons Lucky Power Reels</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Lucky_Easter.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Lucky Easter</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Cinderella.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Cinerella</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Blue_Diamond.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Blue Diamond</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Mega_Dragon.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Mega Dragon</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Golden_Lotus.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Golden Lotus</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Wild_Wild_Chest.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Wild Wild Chest</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center" style="font-size: 15px; font-family: khmer os Battambang;" >
        <a href="##" class="moreGame btn btn-warning" onclick="redTiger()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">Fachai</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/PandaDragonBoat.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Panda Dragon Boat</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/GoldenPanther.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Golden Panther</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/NightMarket.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Night Market</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/LuxuryGoldenPanther.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Luxury Golden Panther</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/PongPongHu.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Pong Pong Hu</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/GoldRush.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Gold Rush</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/ChineseNewYear.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Chinese New Year</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/HappyDuoBao.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Happy Duo Bao</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/RichMan.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Rich Man</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/AnimalRacing.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Animal Racing</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Cowboys.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Cowboys</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/TreasureCruise.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Treasure Cruise</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center"  style="font-size: 15px; font-family: khmer os Battambang;">
        <a href="##" class="moreGame btn btn-warning" onclick="faChai()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">JDB</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/WinningMask.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Winning Mash</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/MysteryOfNineTales.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Mystery Of Nine Tales</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/XiYangYang.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Xi Yang Yang</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/NinjaRush.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Ninja Rush</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Dragon.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Dragon</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/MonkeyKing.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Money King</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/OlympianTemple.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Olympian Temple</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/BlossomOfWealth.png" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Blossom Of Wealth</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/DragonsGate.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Dragons Gate</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/TreasureBowl.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Treasure Bowl</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/Zelda.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Zelda</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/GoLaiFu.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Go Lai Fu</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center"  style="font-size: 15px; font-family: khmer os Battambang;">
        <a href="##" class="moreGame btn btn-warning" onclick="jdb()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">AE</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/ROMA_DELUXE.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Roma-Deluxe</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/GOLDEN_BULL.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Golden Bull</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/OUTLAW_LEGEND.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Outlaw Legend</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/RONIN.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Ronin</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/HYAKKI_YAKO.png" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Hyakki Yako</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/XMAS_YETI.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Xmas Yeti</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/VOODOLL.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Voodoll</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/PRINCESS_VS_ZOMBIE.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Princess VS Zombie</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/MOONLIGHT_SHOWDOWN_VAMPIRE.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">MS-Vampire</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/MOONLIGHT_SHOWDOWN_WEREWOLF.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">MS-Werewollf</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/CANDY_PLANET.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Candy Planet</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/WIENER_DONUTS.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Wiener Donuts</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center"  style="font-size: 15px; font-family: khmer os Battambang;">
        <a href="##" class="moreGame btn btn-warning" onclick="ae()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
<div class="row">
    <div class="col-12 pt-3">
        <img src="./assets/img/icon_play.png" class="img-fluid" width="35" alt="កីឡាអនឡាញ"> <span class="allGameName englishFont">PGSLOT</span>
    </div>
</div>
<div class="row pt-2">
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/lucky-neko.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Lucky Neko</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/ganesha-fortune.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Ganesha Fortune</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/fortune-ox.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">FortuneOx</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/legend-of-hou-yi.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Legend of Hou Yi</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/fortune-mouse.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Fortune Mouse</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/dragon-legend.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Dragon Legend</a> </div>
            </div>
        </div>
    </div>
    <!-- ============= ROW ============== -->
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/journey-to-the-wealth.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Journey to the Wealth</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/bali-vacation.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Bali Vocation</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/egypts-book-mystery.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Egypts Book of Mysterry</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/jurassic-kdm.png" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Jurassic Kingdom</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/lgd-monkey-kg.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Legendary Monkey King</a> </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-2">
        <div class="gameBox">
            <a href="#"><img src="./assets/img/diaochan.jpg" class="img-fluid" width="100%" alt="កីឡាអនឡាញ"></a>
            <div class="gameNameLayout  slotGameBox englishFont">
                <div class="casinoName slotGame text-center"><a href="#">Honey Trap of Diao Chan</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2 text-center"  style="font-size: 15px; font-family: khmer os Battambang;">
        <a href="##" class="moreGame btn btn-warning" onclick="pg()">ចុះឈ្មោះអីឡូវនេះ</a>        </div>
</div>
</div>
</div>
</div>
</div>
<!--GAME END-->
